@charset "utf-8";
/* .ui-menu{
	
} */
body.menu-on{
    overflow: hidden;	
}
.menu-container{
	/* background-color: #f8f8f8; */
	box-sizing: content-box;
	white-space: nowrap;
}
.menu-box{
	/* background-color: #ccc; */
	display: flex;
	flex-wrap: wrap;
	padding:0;
	z-index: 1;
	margin-bottom:0.5em;
}
.menu-box{
	position: static;
	display: none;
	margin: 0;
	padding: 0;
}
/* .menu-container > .menu-box{
	position: relative;
	display: flex;
} */

.menu-container > .menu-box > .menu > .menu-box{
	position: absolute;
}
.menu-box.menu-box-direction-row {
	flex-direction: row;
}
.menu-box.menu-box-direction-column {
	flex-direction: column !important;
	flex-wrap: nowrap;
}
/* .menu-box-root{
	
} */


.menu{
	flex: 0 0 auto;
	text-align: left;
	position: static;
	list-style: none;
}
/* .menu-root > .menu{

} */
/* .menu.on > .menu-box{
	display: flex;
} */
.menu.selected > .menu-label{
	background-color: #f8f8f8;
}
.menu-misc{
	margin:2px;
	display: block;
}
.menu-label{
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	padding:5px;
	margin:1px;
}
.menu-label-text{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	pointer-events: none;
}
.menu-hr{
	height:1px;
	margin:1px 1px;
	background-color: #aaa;
}

/* .menu-box-scollable-x{
	flex-wrap: nowrap;
	overflow-x: auto;
}
.menu-box-scollable-y{
	flex-wrap: nowrap;
	overflow-y: auto;
} */

/* .menu-for-mobile , .menu-for-xs{
	
} */
.menu-btn{
	height: 34px;
	width: 34px;
	padding:4px;
	cursor: pointer;
	background-color: #ddd;
	color: #999;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	margin:0px;
}
.menu-icon-hamburger{
	display: block;
	min-height:1em;
	height:80%;
	width:80%;
	margin:10%;
	
    background-position: center center;
    background-repeat: no-repeat;

	background-image: linear-gradient( 0deg , #999 0 20%
	, transparent 20% 20%, transparent 20% 40%
	, #999 40% 40%, #999 40% 60%
	, transparent 60% 60%, transparent 60% 80%
	, #999 80% 80%, #999 80% 100%
	);
	pointer-events: none;
}
.menu-icon-close{
	display: block;
	min-height:1em;
	height:80%;
	width:80%;
	margin:10%;
	
    background-position: center center;
    background-repeat: no-repeat;

	background-image: 
		linear-gradient(-45deg, transparent , transparent 0 calc(50% - 1px), #999 calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%)
		, linear-gradient(45deg, transparent , transparent 0 calc(50% - 1px), #999 calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%)
	;
	pointer-events: none;
}

/* for pc */
@media all and (min-width:576px) {
	
	.menu{
		max-width: 100%;
	}
	.menu-container > .menu-box > .menu > .menu-box{
		position: absolute;
		left:0;right:auto;
		z-index: 20;
	}
	.menu-container > .menu-box.menu-justify-end  > .menu > .menu-box{
		left:auto;right:0;
	}
	/* .menu-root > .menu{
		
	} */
	/* top menu-box */
	.menu-container > .menu-box {
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		position: relative;
		display: flex;
		z-index: 10;
		background-color: transparent;
	}
	.menu-container > .menu-box > .menu{
		position: relative;
		/* z-index: 20; */
	}
	.menu-box{
		background-color: #fff;
		flex-direction: column;
		position: absolute;
	}
	.menu-box-floating{
		position: absolute  !important;
		z-index: 20;
	}
	.menu-box-collapse{
		position: relative !important;
		z-index: 20;
	}

	
	/* 2depth 메뉴 전용*/
	.menu-box.menu-box-bar{
		position: fixed  !important;
		left:0 !important;right:0 !important;
		transform: translateX(0) !important;
		z-index: 20 !important;
		/* max-width: 90vw; */
	}
	.menu-container > .menu-box.menu-justify-end{
		justify-content: flex-end;
	}
	
	.menu-box-horizon-sm{
		flex-direction: row !important;
	}
	.menu-box-vertical-sm{
		flex-direction: column !important;
	}

	.menu.on > .menu-box{
		display: flex;
		z-index: 11;
	}
	.menu-static{
		position: static;
	}
	.menu-justify-end .menu-box{
		transform: translateX(-10px);
	}
	
	.menu-width-100px{
		width:100px;
	}
	.menu-width-200px{
		width:200px;
	}
	.menu-width-300px{
		width:300px;
	}
	.menu-width-400px{
		width:400px;
	}
	.menu-width-500px{
		width:500px;
	}
	.menu-width-max{
		width:max-content
	}
	.menu-width-min{
		width:min-content
	}
	

	.menu-for-mobile , .menu-for-xs{
		display: none !important;
	}
	/* .menu-for-sm{
		display: initial !important;
	} */


	.menu-box-scollable-x-sm{
		flex-wrap: nowrap;
		overflow-x: auto;
	}
	.menu-box-scollable-y-sm{
		overflow-y: auto;
	}
	
}

/* for mobile */
@media all and (max-width:575px) {
	.menu-container{
		position: fixed;
		left:0;right:0;top:0;bottom:0;
		overflow-y:auto;
		display: none;
		background-color: rgba(127,127,127,1);
		padding: 5px;;
	}
	.menu-container.on{
		display: block;
	}
	.menu-container > .menu-box > .menu > .menu-box{
		position: static;
	}
	.menu-container > .menu-box{
		position: static;
		display: block;
	}
	.menu-container > .menu-box  > .menu{
		width:auto;
	}
	.menu.on > .menu-box {
		display: block;
	}
	/* .menu-box{

	} */


	/* .menu-for-mobile , .menu-for-xs{
		display: initial !important;
	} */
	.menu-for-sm{
		display: none !important;
	}
	.menu-box-horizon-xs{
		flex-direction: row !important;
	}
	.menu-box-vertical-xs{
		flex-direction: column !important;
	}
	.menu-box-scollable-y-sm{
		max-height: none !important;
	}
	/* .menu-box-scollable-x-xs{
		flex-wrap: nowrap;
		overflow-x: auto;
	} */
	.menu-box-scollable-y-xs{
		overflow-y: auto;
		max-height: 50vh !important;
	}
}
