@charset "utf-8";

/*
style
*/
/* .menu-root{
	border:1px dotted #000;
	
} */
.menu-theme-01 .menu-label{
	cursor: pointer;
	padding:5px;
	border:0px solid #036;
	color: #036;
	margin:2px;
	background-color: #eee;
	border-radius: 5px;
	flex-wrap: nowrap;
    overflow: hidden;
    justify-content: flex-start;
}
.menu-theme-01 .menu-label-text{
    flex: 0 1 100%;
}
.menu-theme-01 .menu.selected > .menu-label{
	background-color: #d1f2c0;
}
.menu-theme-01 .menu-hr{
	border-radius: 5px;;
}
.menu-theme-01.menu-container > .menu-box {
	transform: translateX(0px);
	box-shadow: 0px 0px 0px rgba(127,127,127,0.8);
}
.menu-theme-01 .menu-container > .menu-box > .menu{
	min-width:100px;
	max-width:100%;
}

.menu-theme-01 .menu > .menu-label::after{
	display: block;
	width:0.2em;
	content: "";
	flex: 0 0 auto;
	align-self: center;
	height:0.2em;
	margin-right:0.4em;
}
.menu-theme-01 .menu > .menu-label::before{
	display: block;
	width:0.2em;
	content: "";
	flex: 0 0 auto;
	align-self: center;
	height:0.2em;
	margin-right:0.4em;
}
.menu-theme-01 .menu.menu-has-child > .menu-label::before{
	content: "";
	background-color: #ccc;
	transition: all 0.3s;
	
}
.menu-theme-01 .menu.menu-has-child.on > .menu-label::before{
	content: "";
	background-color: #7ab6cf;
	height: 1em;
}
.menu-theme-01 .menu-icon-mobile{
	height: 2em;
	width: 2em;
	padding:0.2em;
	cursor: pointer;
	background-color: #ddd;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
}
.menu-theme-01 .menu-label:hover {
	background-color: antiquewhite;;
}

/* for pc */
@media all and (min-width:576px) {
	
	.menu-theme-01 .menu{
		/* max-width: 300px !important; */
	}
	.menu-theme-01.menu-container > .menu-box{
		border:0px solid #ccc;
	}
	.menu-theme-01 .menu-box{
		transform: translateX(20px);
		border:1px solid #ccc;
		box-shadow: 2px 2px 5px rgba(127,127,127,0.8);
		border-radius: 5px;
		min-width: 100px;
	}
	.menu-box.menu-box-collapse,
	.menu-box-collapse .menu-box{
		transform: translateX(0px);
		margin-left: 20px;
	}

}

/* for mobile */
@media all and (max-width:575px) {
	.menu-container{
		position: fixed;
		left:0;right:0;top:0;bottom:0;
		overflow-y:auto;
		display: none;
		background-color: rgba(255,255,255,0.9);
		padding: 5px;;
	}
	.menu-theme-01.menu-container > .menu-box{
		margin-left: 0;
	}
	.menu-theme-01 .menu-box{
		margin-left: 20px;
	}
}
