@charset "utf-8";

@media all and (min-width:576px) {
	.menu-theme-01-hr.menu-container > .menu-box{
		position: relative;
	}
	.menu-theme-01-hr.menu-container > .menu-box > .menu{
		position: static;
	}
	.menu-theme-01-hr.menu-container > .menu-box > .menu   .menu-box {
		position: absolute;
		max-width: 100vw;
		left: 0;
		right: 0;
		/* display: flex; */
    	flex-direction: row;
		transform: translateX(0px);
	}
	.menu-theme-01-hr.menu-container > .menu-box > .menu   .menu-box .menu-label-text{
		display: flex;
		align-items: center;
	}
	.menu-theme-01-hr .menu{
		max-width: 300px !important;
	}
	.menu-theme-01-hr .menu-box{
		border:1px solid #ccc;
	}
	
}
